body{
      font-family: Helvetica, sans-serif;
}
nav {
      background-color: #4c4c4c;
      border-bottom: 3px solid #d9534f;
}
nav li a, nav a {
  color: #ffffff;
}
nav li a, nav a :hover {
  color: #ffffff;
}


.navbar-brand {
  font-family: 'ZillaSlab' Georgia, serif;
  font-weight:bolder;
}

.name {
    color: #c54531;
}
