<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-sm-4">
                <span class="glyphicons glyphicons-home"></span>
            <input type="text" class="form-control" placeholder="Search pizza"/>
        </div>
        <div class="col-sm-4">
                <span class="glyphicon glyphicon-shopping-cart"></span><button type="button" class="btn btn-danger">Total price: <span class="badge">${{totalPrice}}</span></button> 
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-shopping-cart"></span><button type="button" class="btn btn-danger">Cart <span class="badge">{{pizzaCount}}</span></button>              
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4"  *ngFor="let pizza of pizzaFullMenuObservable | async">
          <div class="card text-center">
              <div class="card-block">
                  <img class="card-img-top img-fluid" src="{{pizza.imgUrl}}" alt="{{pizza.pizzaName} image">
                  <div class="card-body">
                    <h5 class="card-title">{{pizza.pizzaName}}</h5>
                    <p class="card-text">{{pizza.pizzaDescription}}</p>
                    <h4>{{pizza.pizzaPrice | currency}}</h4>
                    <button class="btn btn-danger" ><a (click)="addCartCount(pizza.pizzaPrice)">ADD TO CART</a></button>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>